html,body
{
 height:100%;
 width:100%;
 margin:0;
 padding:0;
 background:rgb(33, 67, 8);
 }
 body
 {
  display:flex;
  gap:10%;
  justify-content:center;
  align-items:center; 
}
form
{
 width:30%;
 height:30%;
 border:solid rgba(0, 0, 0, 0.553) 1px; 
 display:flex;
 flex-direction:column;
 gap:10%;
 align-items:center;
 justify-content:center;
}
#usersAdd
{
 height:50%;
}
input
{
 width:50%;
}
select
{
 width:50%;
}
input:hover
{
 border:solid black 2px;
}
.submti
{
 border-radius:6%;
}
.submit:hover
 {
  border:none;
  border-radius:6%;
  background:rgb(173, 216, 230);
 }
