html , body
{
    font-family: Georgia;
}
header
{
    background-color: #005B4F;
    color: white;
    text-align: center;
    font-size: 50%;
    height: 20px;
}
main
{
   
    
    background-color: #E1E2E1;
    height: 400px;
    padding: 20px;
    overflow-y: scroll;
}
.zdjecie
{
    
    width: 20%;
    height: auto;
    float: left;
    
}
.opis
{

    height: 144px;
}
footer
{
    background-color: #005B4F;
    color: white;
    text-align: center;
    width: 50%;
    float: left;
}
img 
{
    
    padding: 20px;
    border-radius: 100%;
    
}
h2
{
    text-align: center;
    background-color: #00897B;
}
a
{
    color: white;
}