html,body
{
   font-family: Georgia;
}
header,footer
{
    background-color:#3CB371;
    color: white;
    padding: 10px;
    font-size: 130%;
    text-align: center;
}
.left
{
    float: left;
    background-color:  #FAEBD7;
    width: 55%;
    height: 450px;
}
.right
{
    float: left;
    background-color:#FAEBD7;
    width: 45%;
    height: 450px;
}
img
{
    padding: 3px;
    margin: 15px;
    border: 2px dashed #3CB371;
}