html, body {
    background-color: #333;
    color: #ff0; 
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
section {
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: auto;
}
.baner {
    width: 1200px;
    height: 100px;
    background-color: #444; 
}
.tresc {
    width: 800px;
    height: 600px;
    background-color: #555;
    float: left;
}
.menu {
    width: 400px;
    height: 600px;
    background-color: #666; 
    color: yellow; 
    font: bold;
    float: left;
    overflow: auto;
}
.stopka {
    width: 1200px;
    height: 100px;
    background-color: #777; 
    color: aliceblue; 
    clear: both;
    float: left;
}
button {
    float: right;
    border: none;
    width: 100px;
    height: 100px;
}
.ciemny, .jasny {
    border: none;
    width: 100px;
    height: 100px;
}
.ciemny {
    background-image: url("ciemny.png");
}
.jasny {
    background-image: url("jasny.png");
}
